*{
    color: white;
}
body{
    background-color: white;
    height: 95vh;
    font-family: "Hanken Grotesk", sans-serif;
}
.card{
    /* border: solid; */
    width: 600px;
    height: 60%;
    border-radius: 20px;
    background-color: white;
    box-shadow: hsl(241, 81%, 54%) 0px 0px 10px;
    margin: auto;
    position: relative;
    top: 20%;
}
.result{
    width: 50%;
    background: linear-gradient(hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    height: 100%;
    border-radius: 20px;
    position: relative;
}
.result h2{
    position: absolute;
    font-size: 20px;
    top: 20px;
    left: 30%;
    color: rgba(255, 255, 255, 0.822);
}
.score{
    position: absolute;
    top: 5%;
    left: 22%;
    /* border: solid; */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(66, 28, 172), hsla(241, 72%, 46%, 0));
    font-size: 50px;
    text-align: center;
}
.grade{
    font-size: 50px;
    top: 20%;
    text-align: center;
    width: 100%;
    color: white;
}
span{
    position: absolute;
    top: 60%;
    width: 100%;
    left: 0px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.822);
}
h1{
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.comment{
    position: absolute;
    top: 70%;
    width: 70%;
    font-size: 15px;
    left: 15%;
    text-align: center;
}
.summary{
    position: relative;
    left: 50%;
    top: -105%;
    height: 100%;
    width: 50%;
}
.summary h2{
    color: hsl(224, 30%, 27%);
    position: absolute;
    left: 30px;
    top: 30px;
}
.subject{
    width: 80%;
    height: 40px;
    border: none;
    border-color: black;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 30px;
    margin-bottom: 10px;
}
.first{
    background-color: hsla(0, 100%, 67%, 0.089);
    color: hsl(0, 100%, 67%);
}
.first svg{
    position: relative;
    top: 25%;
    left: 5%;
}
.reaction{
    color: hsl(0, 100%, 67%);
    position: relative;
    top: -37%;
    left: 15%; 
}
#reaction{
    color: hsl(0, 100%, 67%);
    position: absolute;
    bottom: 16%;
    left: 170px;
}
#rating{
    color: black;
    position: absolute;
    top: -2px;
    left: 5px;
    font-size: medium;
}
#overall{
    color: rgba(0, 0, 0, 0.486);
    position: relative;
    bottom: 2px;
    left: 25px;
    font-size: medium;
}
.second{
    background-color: hsla(39, 100%, 56%, 0.13);
    color: hsl(39, 100%, 56%);
}
.memory{
    color: hsl(39, 100%, 56%);
    position: relative;
    top: -40%;
    left: 15%;
}
.second svg{
    position: relative;
    top: 25%;
    left: 5%;
}
.third{
    background-color: hsla(166, 100%, 37%, 0.11);
    color: hsl(166, 100%, 37%);
}
.verbal{
    color: hsl(166, 100%, 37%);
    position: relative;
    left: 15%;
    top: -15px;
}
.third svg{
    position: relative;
    top: 25%;
    left: 5%;
}
.fourth{
    background-color:hsla(234, 85%, 45%, 0.082);
    color: hsl(234, 85%, 45%);
}
.visual{
    color: hsl(234, 85%, 45%);
    position: relative;
    left: 15%;
    top: -15px;
}
.fourth svg{
    position: relative;
    top: 25%;
    left: 5%;
}
button{
    width: 80%;
    height: 45px;
    position: relative;
    top: 110px;
    left: 30px;
    background-color: hsl(224, 30%, 27%);
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 16px;
}